
@{
    ViewData["Title"] = "Contact";
}

<!DOCTYPE html>  
  
<html>  
<head>  
    <meta name="viewport" content="width=device-width" />  
    <title>Contact</title>  
</head>  
<body>  
    <div>  
    <p>Contact info: 
        1234 Downing Street
        Northamptonfullhamshire-upon-Themsen
        Phone: 1234-5678
    </p>
    </div>  
</body>  
</html>