
@{
    ViewData["Title"] = "Projects";
}

<!DOCTYPE html>  
  
<html>  
<head>  
    <meta name="viewport" content="width=device-width" />  
    <title>Projects</title>
</head>  
<body>  
    <div>  
    <ol>
    <li><a href="https://github.com/exegesen/WebDemo">MVC 1</a></li>
    <p>MVC 1 assignment</p>
    <li><a href="https://github.com/exegesen/SokobanJS">SokobanJS</a></li>
    <p>Javascript assignment</p>
    <li><a href="https://github.com/exegesen/html">HTML/CSS</a></li>
    <p>HTML/CSS Assignment</p>
    <li><a href="https://github.com/exegesen/ToDo-IT">Static unit testing bad</a></li>
    <p>Static unit testing is bad</p>
    <li><a href="https://github.com/exegesen/vendingmachine">Vendingmachine</a></li>
    <p>A Vending machine</p>
    <li><a href="https://github.com/exegesen/tictactoe3.1">TicTacToe</a></li>
    <p>TicTacToe game assignment</p>
    <li><a href="https://github.com/exegesen/calc-3.2">Calculator</a></li>
    <li><a href="https://github.com/exegesen/calculator">Calculator</a></li>

</ol>
    </div>  
</body>  
</html>