Ajax?Identity=2577:55 
<div class="container">
    <div class="row">
        <div class="col-sm">Name</div>
        <div class="col-sm">City</div>
        <div class="col-sm">Id</div>
    </div>
        <div>
        <div class="row">
    <div class="col-sm">Dillip</div>
    <div class="col-sm">Georgestown</div> 
    <div class="col-sm">1</div> 
</div>
        </div>
        <div>
        <div class="row">
    <div class="col-sm">Anton</div>
    <div class="col-sm">Malm&#xF6;</div> 
    <div class="col-sm">2</div> 
</div>
        </div>
        <div>
        <div class="row">
    <div class="col-sm">Peter</div>
    <div class="col-sm">Foggy Bottom</div> 
    <div class="col-sm">3</div> 
</div>
        </div>
        <div>
        <div class="row">
    <div class="col-sm">Lisa</div>
    <div class="col-sm">Mexico City</div> 
    <div class="col-sm">4</div> 
</div>
        </div>
</div>