@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Index";
}

<html>  
<head>  
    <meta name="viewport" content="width=device-width" />  
    <title>SPA</title></head>  
<body>   
</body>  
</html>